 
.blog-container { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 0.5fr; 
    width: 100%;
    flex-direction: row;
    gap: 30px;

}

.blog-card { 
    flex-direction: column;
}

.blog-card img:hover { 
    border: solid 2px #F2C75C;
}

.blog-card img { 
    width: 100%;
    object-position: center;
    object-fit: cover;
    height: 300px;
}


.published { 
    margin: 5px;
    color: grey;
}

.date-color { 
    color: white;
}

.information-container p { 
    margin: 5px 0; 
}

.button-container {
    align-self: center;
    margin-top: 50px;
}
#load-more-btn { 
    align-self: center;
    padding: 10px 20px; 
    background-color: #F2C75C;
    border: white 2px solid ;
    color: black;
    font-weight: 600;
}

@media (max-width:450px ) { 
    .blog-container { 
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
}