 

.title-page { 
    border-bottom: 1px white solid;

}

.blog-container { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    flex-direction: row;
    gap: 30px;

}

.blog-card { 
    min-width: 300px;
    height: 400px;
    width: 100%;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-card img { 
    width: 100%;
}

