.error-message {
  color: red;
  font-weight: bold;
  background-color: rgb(247, 204, 204);
  text-align: center;
  padding: 20px;
  border-radius: 2px red solid;
  margin-bottom: 750px;
  margin-top: 100px;
  font-family: "Asap Condensed", sans-serif;
  font-weight: 500;
}
