.asap-condensed-regular {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.asap-condensed-regular-italic {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.asap-condensed-bold {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

li {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  padding: 0;
}

h1,
h2 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  padding: 0;
}

h3 {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  padding: 0;
}
/** padding */

p,
a,
button {
  font-family: "Asap Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
}

button {
  font-size: 16px;
  cursor: pointer;
}
