.hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/images/bearandbull-front.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

/***********  Padding hero text *************/
.hero-title,
.hero-phrase,
.hero-btn {
  margin: 10px;
  font-weight: 700;
}

.hero-phrase {
  font-size: 20px;
}

.hero-title {
  font-size: 32px;
}

.hero-btn {
  text-transform: uppercase;
  background-color: black;
  padding: 10px 20px;
  border: white 2px solid;
}

.hero-btn:hover {
  color: black;
  background-color: #f2c75c;
  border: black 2px solid;
}

.carousel-latest-posts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 26px;
}

.posted-highlighted-colour {
  color: #f2c75c;
}

.carousel-container {
  max-width: 1400px;
  width: 100%;
  position: relative;
  margin: auto;
}

.carousel::-webkit-scrollbar-thumb {
  background: #888;
  cursor: grab;
}

.carousel-container button {
  padding: 20px;
  background: rgb(175, 174, 174);
  text-align: center;
  border-radius: 80%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1rem;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
}

.carousel-container button:hover {
  background: rgb(59, 59, 59);
}

.fa-angle-left {
  left: -30px;
}
.fa-angle-right {
  right: -30px;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((97%) / 3);
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel-card {
  height: 400px;
  justify-content: flex-end;
  list-style: none;
  background: #fff;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-color: black;
  margin-bottom: 20px;
}

.carousel-text:hover {
  border: solid 2px #f2c75c;
}

.post-link {
  width: 100%;
}

.readmore-btn {
  text-transform: none;
  font-weight: 600;
  margin: 5px;
  padding-bottom: 5px;
}

.readmore-btn:hover {
  color: #b48817;
}

.carousel-btns {
  display: flex;
  justify-content: end;
}

.category-emblem {
  text-transform: uppercase;
  font-weight: 600;
  background-color: black;
  border: 1px white solid;
  color: white;
  align-self: center;
  padding: 5px;
  text-decoration: none;
}

.category-emblem:hover {
  color: black;
  background-color: white;
}

.index-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: right;
}

@media (max-width: 1300px) {
  .carousel {
    grid-auto-columns: calc((97% / 2));
  }
}

@media (max-width: 750px) {
  .carousel {
    grid-auto-columns: calc((97% / 1));
    height: 100%;
  }

  .carousel-container i {
    display: none;
  }
}

@media (max-width: 330px) {
  .carousel-btns {
    display: none;
  }

  .carousel-card {
    background-position: right;
  }
}