.logo-header { 
    display: block; 
    margin: auto;
    padding: 20px;
}

.navigation-outline { 
    border-top: 1px rgb(139, 139, 139) solid;
    border-bottom: 1px rgb(139, 139, 139) solid;
}

.navigation-container { 
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 1400px;
    width: 90%;

}


.nav-link { 
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover { 
color: black;
background-color: white;
padding: 20px;
width: 100%;
}



.nav-ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px; 
    list-style-type: none;
    box-sizing: border-box;
}

.sidebar { 
    position: fixed;
    top: 0;
    right: 0;
    height: 500px;
    width: 0%;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    
}

.sidebar li { 
    list-style: none;
    padding: 20px;
    display: none;
    border-top: white 1px solid;
    text-align: center;
    width: 100%;
}


.sidebar li i { 
    color: red;
    font-size: 28px;
    cursor: pointer;
}

#hamburger-menu { 
    display: none;
}

.logo-header-hamburger { 
    display: none; 
    padding: 20px;
}


@media(max-width: 800px) { 
    .hideOnMobile { 
        display: none;
    }

    #hamburger-menu {
        display: block;
    }

    .sidebar { 
        width: 100%;
    }

    .sidebar li { 
        display: block;
    }

    .logo-header-hamburger { 
        display: block;
    }

    .nav-ul { 
        justify-content: flex-end;
    }

    .nav-ul li {
        display: none;
    }

    .nav-ul i {
        font-size: 32px;
    }

    
}



