header {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  height: 100%;
  width: 90%;
}

.navbar {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  gap: 60px;
  flex: 1;
}

.nav-item {
  list-style: none;
}

.nav-link {
  transition: 0.7s ease; /* Corrected the transition timing */
  padding: 10px 10px;
  font-weight: 500;
}

.nav-link:hover {
  color: black;
  background: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 800px) {
  .hamburger {
    display: block;
  }
  .hamburger.active-menu .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active-menu .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active-menu .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    top: 80px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
    border-bottom: 3px solid #f2c75c;
  }

  .nav-item {
    border-bottom: 1px solid grey;
    width: 100%;
  }

  .nav-link {
    display: block;
    transition: 0.7s ease; /* Corrected the transition timing */
    padding: 20px 20px;
  }

  .nav-link:hover {
    color: black;
    background: white;
  }

  .nav-menu.active-menu {
    left: 0;
    background-color: rgb(0, 0, 0);
  }

  .nav-menu a {
    color: rgb(255, 255, 255);
  }
}
